.main {
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

ul,
li,
p {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}

img {
  display: block;
}

.container {
  outline: 1px solid red;
  width: 1120px;
  padding: 0 15px;
  margin: 0 auto;
}

.proposal-all {
  display: flex;
  flex-wrap: wrap;
}
.proposal-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.price {
  position: relative;
}

.price-description {
  position: absolute;
  top: 0;
  font-family: Roboto;
  font-style: normal;
  font-size: 16px;
  /* color: rgba(255, 255, 255, 1); */
  color: black;
  line-height: 1.3;
}

.price-value {
  position: absolute;
  bottom: 0;
}

/* .develop-name {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  width: 100%;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--white-color); */

/* по центру */
/* top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
/* } */
